{
"ACCESS_KEY" : "YOUR_KEY",
"SECRET_KEY" : "YOUR_SECRET_KEY",
"ENDPOINT_URL" : "YOUR_ENDPOINT",
"BUCKET_NAME" : "BUCKET_NAME",
"PREFIX" : "KEEP_EMPTY_FOR_ROOT",
"LOCAL_DIR" : "YOUR_LOCAL_OUTPUT_DIR"

}